body {
  font-family: serif;
  color: rgb(214, 28, 28);
  background: linear-gradient(to bottom right, rgba(237, 208, 82, 0.744), pink);
  font-size: 1.5em;

  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.border {
  border-bottom: solid 3px pink;
  width: 90%;
}

.padding {
  padding: 1em;
}

.line-height-zero {
  line-height: 0;
}

.main {
  /*この中にそれぞれのdivが入る*/
  max-width: 15em;
  background-color: white;

  border: solid 3px rgba(255, 68, 0, 0.626);
  outline: solid 8px red;
  outline-offset: 1px;
  margin: 1.5em;
}
.img-div {
}
.comment-div {
}
.lucky-language {
}
.lucky-dbname {
}
.lucky-edit {
}
.omikuji-button {
  font-family: serif;
  display: block;
  padding: 0.8em 2em;
  border-radius: 3em;
  color: #fff;
  background-color: red;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin: 2em;
}
.test {
  background-color: blue;
}
